body, html {
  margin: 10px;
  margin-top: 10px;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

form {
  margin-top: 20px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
  
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}



li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

/* table {
  margin-left: 10px;
  border-collapse: collapse;
}
td {
  border:1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  cursor: pointer;
} */

th,td {
  text-align: center !important;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}

#label {
  color: grey;
}

.showChart {
  display: center;
  /* width: 70%; */  
}

#myBudgetChart {
  display: inline;
}

section {
  padding-bottom: 5px;
}

.logout {
  /* float:right !important; */
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999;
}

/* .transactionTbl {
  justify-content: space-between;
} */

.dialogForm {
  /* width: 100%; */
  text-align: center;
  position: relative;
}

.dialogForm #popupContainer {
  position: relative;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.formData {
  padding: 50px;
}

.technology {
  background-image: url('/images/technology.jpg');
  height: 350px;
  width: 1300px;
}

ul.technologyList {
  list-style-type: square;
}

/* .instructions {
  background-image: url('/images/money.jpg');
  width: 2000px;
  
} */

#welcome {
  font-weight: bold;
  color: gray;
}