<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div>
        {{4===4}}
        <div>
            Monthly Income: <input type="text" ng-model="bc.income" >
            <button type="submit" ng-click="bc.updateIncome(bc.income)">Add</button>
             For the month of: 
                <!-- <form name="myForm" ng-controller="BudgetController as bc">
                    <label for="exampleInput">Pick a month in 2013:</label>
                    <input id="exampleInput" type="month" name="input" ng-model="example.value" placeholder="yyyy-MM" min="2017-01" max="2017-12"
                     />
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!</span>
                        <span class="error" ng-show="myForm.input.$error.month">
                            Not a valid month!</span>
                    </div>
                   <tt>value = {{bc.example.value | date: "yyyy-MM"}}</tt>
                    <br/>
                    <tt>myForm.input.$valid = {{bc.myForm.input.$valid}}</tt>
                    <br/>
                    <tt>myForm.input.$error = {{bc.myForm.input.$error}}</tt>
                    <br/>
                    <tt>myForm.$valid = {{bc.myForm.$valid}}</tt>
                    <br/>
                    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt>
                    <br/> 
                </form> -->
        </div>
        <br>
        <br>
        <div>
            Category:   <select ng-model="bc.category.category_name">
                            <option value = "Gas"> Gas</option>
                            <option value = "Rent"> Rent</option>
                            <option value = "Groceries"> Groceries</option>
                            <option value = "Utilities"> Utilities</option>
                            <option value = "Restaurants"> Restaurants</option>
                            <option value = "Miscellaneous"> Miscellaneous</option>
                        </select>                

            Amount: <input type="text" ng-model="bc.category.amount">
            <button type="submit" ng-click="bc.addCategory(bc.category)">Create Your Own Budget</button>
        </div>
        <br>
        <div class="categoryList">
            <table>
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>User ID</th>
                        <th>Category Name</th>
                        <th>Budget Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in bc.categoryList">
                        <td>{{category.id}}</td>
                        <td>{{category.user_id}}</td>
                        <td>{{category.category_name}}</td>
                        <td>{{category.amount | currency:"$"}}</td>
                        <td><button type="submit" ng-click="bc.deleteCategory(category.id)">Remove</button></td>
                    </tr>
                </tbody>

            </table>    
        </div>

        <p><button ng-click="bc.requestChart()">Show Chart</button></p>
        <div style="width: 70%;">
            <canvas id="myChart" height="750" width="700"></canvas>
        </div>
    </div>
   
</div>