<div class="md-padding dialogForm" id="popupContainer" ng-cloak>
    <!-- <form name="frm" layout="column"> -->
    <md-dialog>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Edit Your Transactions</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="dialog.cancel()"></md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="formData">
                    <form>
                        <md-input-container>
                            <label>Date</label>
                            <input id="date" type="date" ng-model="ec.dataService.selectedTransaction.data.date" required />
                        </md-input-container>
                        
                        <md-input-container>
                            <label>Description</label>                        
                            <input id="description" type="text" ng-model="ec.dataService.selectedTransaction.data.description" required/>
                        </md-input-container>
                    
                        <md-input-container>
                            <select ng-model="category_name" ng-options="category_name as category_name.category_name for category_name in ec.categoryList">
                            </select>
                        </md-input-container>

                        <md-input-container>
                            <label>Category ID</label>                        
                            <input id="categoryId" type="text" ng-value="ec.dataService.selectedTransaction.data.category_id" ng-model="category_name.id" /> 
                        </md-input-container>

                        <md-input-container>
                            <label>Amount</label>
                            <input type="text" ng-model="ec.dataService.selectedTransaction.data.amount" />
                        </md-input-container>

                            <md-button class="md-raised md-primary" ng-hide="ec.editing" type="submit" ng-click="ec.editTransaction(ec.dataService.selectedTransaction.data, category_name.category_name, category_name.id)">Edit</md-button>
                        <!-- <md-button class="md-raised md-primary" ng-show="ec.editing" type="submit" ng-click="ec.editTransaction()">Update</md-button> -->
                    </form>
                </div>
            </md-input-container>
        </form>
    </md-dialog>
</div>