<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-5">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 60%">60%</div>
            
        
                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 60%">60%</div>
        
      
                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 60%">60%</div>
        
                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%">60%</div>
      
                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%">60%</div>
    
                <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 60%">60%</div>
            </div>
        </div>
    </div>

    <p>
      <button ng-click="ic.requestChart()">Show Chart</button>
    </p>
    <div style="width: 70%;">
      <canvas id="myChart" height="750" width="700"></canvas>
    </div>

  </div>
</div>
