<div ng-include="'views/partials/nav.html'"></div>
<div class="container technology">
    <h2>Technologies used:</h1>
    <div>
        <ul class="technologyList">
            <li><strong>S.E.A.N stack</strong></li>
            <br>
            <li><strong>Angular Material, Sweet Alerts for styling</strong></li>
            <br>
            <li><strong>Chart.js for charts</strong></li>
            <br>
            <li><strong>Moment.js for Date</strong></li>
            <br>
        </ul>

    </div>
</div>