<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
   
    <!-- <div>
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:20%">Date</td>
                <td style="width:20%">Description</td>
                <td style="width:20%">Category</td>
                <td style="width:20%">Amount</td>
                <td style="width:20%">Edit</td>
            </tr>
            <tr ng-repeat="transaction in transactions">
                <td>
                    <span editable-text="transaction.date" e-name="date" e-form="rowform" onbeforesave="checkDate($data.transaction.date")>
                        {{ showDate(transaction)}}
                    </span>
                </td>
                <td>
                    
                </td>
            </tr>

        </table>

    </div> -->
    <div ng-controller="TransactionController as tc">
        <form name="frm">
            Date: <input id="date" type="text" ng-value="tc.transaction.date" ng-model="tc.transaction.date" required />
            Description: <input id="description" type="text" ng-value="tc.transaction.description" ng-model="tc.transaction.description" required/>
            Category ID: <input id="categoryId" type="text" ng-value="tc.transaction.category_id" ng-model="tc.transaction.category_id" required />
                <!-- <div>
                    <input-container>
                        <select ng-model="tc.selectedCategory" selected-text="tc.getSelectedText()">
                            <optgroup label="categories">
                                <option ng-value="category" ng-repeat="category in tc.categories">Category {{category}}</option>
                            </optgroup>
                        </select>
                    </input-container>
                </div> -->
            Amount: <input type="text" ng-value="tc.transaction.amount" ng-model="tc.transaction.amount" />          
            <button ng-hide="tc.editing" type="submit" ng-click="tc.addTransaction(tc.transaction)">Add</button>
            <button ng-show="tc.editing" type="submit" ng-click="tc.editTransaction(tc.transaction)">Update</button>
        </form>
            <h2>Records for Transactions</h2>
            <div class="searchBar">
                Search: <input type="text" placeholder="Search..." ng-model="searchText" />    
            </div>
            <br><br>
            <table>
                <thead>
                    <tr>
                        <th ng-click="tc.sortData('id')">Transaction ID
                            <div ng-class="tc.getSortClass('id')"></div>
                        </th>
                        <th ng-click="tc.sortData('date')">Date
                            <div ng-class="tc.getSortClass('date')"></div>
                        </th>
                        <th ng-click="tc.sortData('description')">Description
                            <div ng-class="tc.getSortClass('description')"></div>
                        </th>
                        <th ng-click="tc.sortData('category_id')">Category ID
                            <div ng-class="tc.getSortClass('category_id')"></div>
                        </th>
                        <th ng-click="tc.sortData('category_name')">Category Name
                            <div ng-class="tc.getSortClass('category_name')"></div>
                        </th>
                        <th ng-click="tc.sortData('amount')">Amount
                            <div ng-class="tc.getSortClass('amount')"></div>
                        </th>
                        <th ng-click="tc.sortData('user_id')">User ID
                            <div ng-class="tc.getSortClass('user_id')"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in tc.transactionList | orderBy:tc.sortColumn:tc.reverseSort | filter:searchText">
                        <td>{{transaction.id}}</td>
                        <td>{{transaction.date}}</td>
                        <td>{{transaction.description | uppercase}}</td>
                        <td>{{transaction.category_id}}</td>
                        <td>{{transaction.category_name | uppercase}}</td>
                        <td>{{transaction.amount | currency: "$"}}</td>
                        <td>{{transaction.user_id}}</td>
                        <td><button type="submit" ng-click="tc.deleteTransaction(transaction.id)">Delete</button></td>
                        <td><button type="submit" ng-click="tc.editClicked(transaction)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
    </div>
   
</div>